       body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  margin: 0;
  color: #222;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 25px;
  float: left;
  margin-left: 100px;
  
}

.movie-card {
  background: #f9f9f9;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding-bottom: 10px;
  transition: transform 0.2s ease;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}
.movie-card img {
    width:200px
}

.movie-card .rating {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.85rem;
  margin: 10px;
  border-radius: 8px;
  display: inline-block;
}

.movie-card h3 {
  font-size: 1rem;
  margin: 10px 10px 0;
}

.movie-card p {
  font-size: 0.85rem;
  margin: 4px 10px;
  color: #555;
}