{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/movie.css' %}">


  <div class="container">
    <div class="poster">
      <img src="{{movie.movie_image.url}}" alt="Yuddhakaanda Chapter 2 Poster">
    </div>
    <div class="details">
      <div class="title">{{movie.title}}</div>
      <div class="rating-box">
        ⭐ <span>{{rating|floatformat:1}}/10</span> ({{no_users}} users)
      </div>
      <div>
        <a href="{% url 'add_review' movie.slug %}"><button id="rate">♥️ rate</button></a>
      </div>
      <div class="info">
        {{movie.duration_minutes}}m • {{movie.genre}} • {{movie.release_date}} • {{movie.language}}
      </div>
    <a href="{% url 'theater_showtime_date' movie.slug today %}">  <button class="book-btn">Book tickets</button></a> <br>

    
    </div>
  </div>

  <div class="about-section">
    <h2>About the movie</h2>
    <p>
      {{movie.synopsis}}
    </p>
  </div>
  {% include 'reviews/reviews.html' %}


{% endblock %}